@import "../../node_modules/bootstrap/scss/bootstrap";
// Custom Colors
$darkblue: #1A1C20;
$darktext: #616684;

[data-bs-theme="custom-dark"] {
    //--bs-body-color: var(--bs-white);
    //--bs-body-color-rgb: #{to-rgb($white)};
    --bs-body-bg: #{$black};
    //--bs-body-bg-rgb: #{to-rgb($black)};
    //--bs-tertiary-bg: #{$blue-600};

    body{
        background-color: #2e2f32;
    }

    p {
        font-size: 14px;
    }

    .colorLoss {
        color: #DC3545;
    }

    .colorWin {
        color: #1A1C20;
    }

    * {
        color: white;
    }

    td {
        color: white;
    }

    .navbar {
        background-color: #000000 !important;
    }

    .card {
        background-color: #1A1C20 !important;
    }

    .money-card-text {
        color: #616684;
    }

    .money-card-title {}

    .balchart{
        max-height: 500px !important;
    }

    .bg-dark {
        background-color: #1A1C20 !important;
    }

    .content-wrapper {
        background: #2e2f32;
        padding: 2.75rem 2.25rem;
        width: 100%;
        -webkit-flex-grow: 1;
        flex-grow: 1;
    }

    .preview-list {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-align-items: flex-start;
        align-items: flex-start;
        padding: 1rem 0;
        font-size: .875rem;
    }

}